.alignwide{
width: 75%;
margin: 0 auto;
}

.alignfull {

    width:  100%;
    width: 0 auto;
}

.alignfull {
    width: 100%;
    width: 0 auto;
}

.has-magenta-background-color {
    background-color: #a156b4;
}
.has-magenta-color {
    color: #a156b4;
}

.has-blue-background-color {
    background-color: #768496;
}
.has-blue-color {
    color: #768496;
}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
    height: 120px;
    width: 60%;
}

div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1em;
    padding: 10px 15px;
    margin-left: 460px;
}
